html{
  background-image: url('recursos/fondopagina.gif');
  background-size: cover;
}

html, body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
canvas {
  margin: auto;
}

#fullscreen {
  position: fixed;
  top: 20px;
  right: 20px; 
}

#help1 {
  background-color: rgba(10,10,10,0.3);
  color:antiquewhite;
  position: fixed;
  top: auto;
  left: 20px;
  margin: 20px;
  padding: 20px;
}

#help2 {
  background-color: rgba(10,10,10,0.3);
  color:antiquewhite;
  position: fixed;
  top: auto;
  right: 20px;
  margin: 20px;
  padding: 20px;
}